offer-pipeline.json
{
  "name": "INSURE.AI — Offer Management Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "insure-ai-offer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Offer Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "notes": "Triggered by: segment analysis batch job, cross-sell signal, renewal window, manual campaign"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nreturn [{\n  json: {\n    customer_id:       body.customer_id    || `K-${Date.now()}`,\n    trigger:           body.trigger        || 'segment_analysis',\n    segment:           body.segment        || 'Privat',\n    existing_products: body.products       || [],\n    annual_premium_chf: parseFloat(body.annual_premium || 0),\n    product_gaps:      body.gaps           || [],\n    renewal_date:      body.renewal_date   || null,\n    last_offer_date:   body.last_offer     || null,\n    offers_ytd:        parseInt(body.offers_ytd || 0),\n    received_at:       new Date().toISOString()\n  }\n}];"
      },
      "id": "normalize",
      "name": "Normalize Offer Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/v1/ai/offer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 30000 }
      },
      "id": "call-agent",
      "name": "Call Offer Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "notes": "Returns: { recommended_product, offer_value_chf, cross_sell_score, confidence, reasoning }"
    },
    {
      "parameters": {
        "jsCode": "const agent   = $input.first().json;\nconst context = $('Normalize Offer Context').first().json;\n\nconst crossSellScore = agent.cross_sell_score || 0;\nconst offerValue     = agent.offer_value_chf  || 0;\nconst confidence     = agent.confidence       || 0.5;\nconst offersYtd      = context.offers_ytd     || 0;\n\n// Business rules\nlet route, urgency;\n\n// Policy: max 2 offers per customer per quarter\nif (offersYtd >= 2 || offerValue > 1500) {\n  route   = 'human_review';   // Needs approval\n  urgency = offerValue > 3000 ? 'high' : 'medium';\n} else if (crossSellScore >= 0.7 && confidence >= 0.75) {\n  route   = 'automation';     // Auto-send\n  urgency = 'low';\n} else {\n  route   = 'human_review';   // Low confidence — human check\n  urgency = 'low';\n}\n\nreturn [{\n  json: {\n    ...context,\n    product:          agent.recommended_product || 'Zusatzprodukt',\n    offer_value_chf:  offerValue,\n    cross_sell_score: crossSellScore,\n    confidence:       confidence,\n    route:            route,\n    urgency:          urgency,\n    title:  `Angebot: ${agent.recommended_product || 'generiert'}`,\n    detail: `${context.segment} · Cross-Sell ${(crossSellScore*100).toFixed(0)}% · CHF ${offerValue.toLocaleString('de-CH')}`,\n    agent_latency_ms: agent.latency_ms || null\n  }\n}];"
      },
      "id": "orchestrate",
      "name": "Apply Orchestrator Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/v1/webhooks/offer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"{{ $execution.id }}\",\n  \"customer_id\": \"{{ $json.customer_id }}\",\n  \"pipeline\": \"offers\",\n  \"route\": \"{{ $json.route }}\",\n  \"confidence\": {{ $json.confidence }},\n  \"urgency\": \"{{ $json.urgency }}\",\n  \"title\": \"{{ $json.title }}\",\n  \"detail\": \"{{ $json.detail }}\",\n  \"product\": \"{{ $json.product }}\",\n  \"offer_value_chf\": {{ $json.offer_value_chf || null }},\n  \"cross_sell_score\": {{ $json.cross_sell_score || null }},\n  \"agent_latency_ms\": {{ $json.agent_latency_ms || null }}\n}",
        "options": { "timeout": 10000 }
      },
      "id": "post-webhook",
      "name": "POST → FastAPI /webhooks/offer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/v1/webhooks/orchestrator",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_id\": \"ORC-{{ $execution.id }}\",\n  \"pipeline\": \"offers\",\n  \"route\": \"{{ $json.route }}\",\n  \"confidence\": {{ $json.confidence }},\n  \"business_rule_triggered\": \"{{ $json.offer_value_chf > 1500 ? 'amount_limit' : $json.offers_ytd >= 2 ? 'offer_frequency' : 'standard' }}\",\n  \"agent_latency_ms\": {{ $json.agent_latency_ms || null }}\n}",
        "options": {}
      },
      "id": "post-orchestrator",
      "name": "POST → FastAPI /webhooks/orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"processed\", \"route\": \"{{ $('Apply Orchestrator Logic').first().json.route }}\", \"product\": \"{{ $('Apply Orchestrator Logic').first().json.product }}\" }"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook: Offer Trigger": {
      "main": [[ { "node": "Normalize Offer Context", "type": "main", "index": 0 } ]]
    },
    "Normalize Offer Context": {
      "main": [[ { "node": "Call Offer Agent", "type": "main", "index": 0 } ]]
    },
    "Call Offer Agent": {
      "main": [[ { "node": "Apply Orchestrator Logic", "type": "main", "index": 0 } ]]
    },
    "Apply Orchestrator Logic": {
      "main": [[ { "node": "POST → FastAPI /webhooks/offer", "type": "main", "index": 0 } ]]
    },
    "POST → FastAPI /webhooks/offer": {
      "main": [[ { "node": "POST → FastAPI /webhooks/orchestrator", "type": "main", "index": 0 } ]]
    },
    "POST → FastAPI /webhooks/orchestrator": {
      "main": [[ { "node": "Respond to Webhook", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["insure.ai", "offers", "webhook"]
}
