n8n/workflows/claims.json
{
  "name": "Insure.AI - Claims Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "claims/new",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2ea9bccd-49fa-4581-b002-6b15f5e2b1dd",
      "name": "Trigger: New Claim",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -496,
        112
      ],
      "webhookId": "insure-ai-claims-trigger"
    },
    {
      "parameters": {
        "jsCode": "// Normalize and validate incoming claim payload\nconst body = $input.first().json.body;\n\nconst required = ['claim_id', 'customer_id', 'policy_id', 'claim_type', 'claim_amount', 'description'];\nconst missing = required.filter(f => !body[f]);\n\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n\n// Normalize claim_type\nconst claimTypeMap = {\n  'fire': 'fire', 'brand': 'fire',\n  'water': 'water', 'wasser': 'water',\n  'theft': 'theft', 'diebstahl': 'theft',\n  'accident': 'accident', 'unfall': 'accident',\n  'fraud': 'fraud_suspected'\n};\n\nconst normalizedType = claimTypeMap[body.claim_type?.toLowerCase()] || body.claim_type;\n\nreturn [{\n  json: {\n    ...body,\n    claim_type: normalizedType,\n    claim_amount: parseFloat(body.claim_amount),\n    currency: body.currency || 'CHF',\n    submission_channel: body.submission_channel || 'web',\n    attachments: body.attachments || [],\n    received_at: new Date().toISOString(),\n    pipeline: 'claims'\n  }\n}];"
      },
      "id": "14470326-0a8c-44b6-9a02-74a0c4f46356",
      "name": "Validate & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://insure-ai-wql4.onrender.com",
        "options": {
          "timeout": 5000
        }
      },
      "id": "7675a8b1-fd4e-4944-8247-c8281966e248",
      "name": "Load Customer Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://insure-ai-wql4.onrender.com",
        "options": {
          "timeout": 5000
        }
      },
      "id": "4c5fb733-247f-4dd1-a9f1-80c74ef12ae9",
      "name": "Load Policy & Claims History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        208
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Merge claim data with customer + policy context\nconst claim = $('Validate & Normalize').first().json;\nconst customer = $('Load Customer Data').first().json || {};\nconst policy = $('Load Policy & Claims History').first().json || {};\n\nconst enriched = {\n  // Core claim fields\n  claim_id: claim.claim_id,\n  customer_id: claim.customer_id,\n  policy_id: claim.policy_id,\n  claim_type: claim.claim_type,\n  claim_amount: claim.claim_amount,\n  currency: claim.currency,\n  description: claim.description,\n  submission_channel: claim.submission_channel,\n  attachments: claim.attachments,\n\n  // Customer enrichment\n  customer_since_years: customer.years_as_customer || null,\n  previous_claims_count: customer.total_claims_count || 0,\n  previous_claims_total: customer.total_claims_amount || 0,\n  customer_ltv: customer.ltv_estimate || null,\n\n  // Policy enrichment\n  policy_type: policy.product_name || null,\n  policy_annual_premium: policy.annual_premium || null,\n  policy_coverage_limit: policy.coverage_limit || null,\n};\n\nreturn [{ json: enriched }];"
      },
      "id": "21793513-83d4-4609-81c1-adbbedf3edc1",
      "name": "Merge Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://insure-ai-wql4.onrender.com/agent/claims",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "102051c4-302b-4f80-94e6-52168688fe79",
      "name": "Call Claims Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Apply Orchestrator business rules on top of agent result\nconst agent = $json;\n\n// Hard business rule overrides\nlet finalRoute = agent.recommended_route;\nlet escalationReason = null;\n\n// Rule 1: Auto-limit override — amounts above CHF 50k cannot be auto-processed\nif (agent.recommended_route === 'auto_process' && $('Merge Context').first().json.claim_amount > 50000) {\n  finalRoute = 'manual_review';\n  escalationReason = 'Amount exceeds auto-processing limit (CHF 50k)';\n}\n\n// Rule 2: Fraud score hard cutoff — always SIU above 0.75\nif (agent.fraud_score >= 0.75) {\n  finalRoute = 'siu_referral';\n  escalationReason = `Fraud score ${agent.fraud_score.toFixed(2)} exceeds SIU threshold (0.75)`;\n}\n\n// Rule 3: Low confidence fallback\nif (agent.confidence < 0.60 && finalRoute === 'auto_process') {\n  finalRoute = 'manual_review';\n  escalationReason = `Agent confidence too low for automation (${agent.confidence.toFixed(2)})`;\n}\n\nreturn [{\n  json: {\n    ...agent,\n    final_route: finalRoute,\n    orchestrator_override: finalRoute !== agent.recommended_route,\n    escalation_reason: escalationReason,\n    orchestrated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "a4795825-bcf8-473d-a77e-5792f5892561",
      "name": "Apply Orchestrator Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "route-auto",
              "leftValue": "={{ $json.final_route }}",
              "rightValue": "auto_process",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b644da94-5a78-4df3-a7e6-e0b2a6e26e5f",
      "name": "Route: Auto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1008,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "route-siu",
              "leftValue": "={{ $json.final_route }}",
              "rightValue": "siu_referral",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aaf76f62-8a9b-4fc6-b14f-1bba42733315",
      "name": "Route: SIU?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1264,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// AUTO PROCESS: Standard claim, trigger automated payout workflow\nconst data = $json;\nreturn [{\n  json: {\n    action: 'auto_process',\n    claim_id: data.claim_id,\n    estimated_payout: data.estimated_payout,\n    priority: data.priority,\n    message: `Claim ${data.claim_id} queued for automated processing`,\n    next_system: 'claims_management_auto',\n    processed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "bd27c631-82b4-4717-93f7-dab759564587",
      "name": "→ Auto Process",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// MANUAL REVIEW: Route to Human-in-the-Loop queue\nconst data = $json;\nreturn [{\n  json: {\n    action: 'manual_review',\n    claim_id: data.claim_id,\n    priority: data.priority,\n    flags: data.flags,\n    reasoning: data.reasoning,\n    override_reason: data.escalation_reason,\n    assigned_queue: data.priority === 'critical' ? 'senior_adjuster' : 'standard_review',\n    message: `Claim ${data.claim_id} sent to manual review queue`,\n    processed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "1c0a363b-fa2f-4932-8fa9-6f283039a9be",
      "name": "→ Manual Review (HITL)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// SIU REFERRAL: Special Investigations Unit escalation\nconst data = $json;\nreturn [{\n  json: {\n    action: 'siu_referral',\n    claim_id: data.claim_id,\n    fraud_score: data.fraud_score,\n    flags: data.flags,\n    reasoning: data.reasoning,\n    alert_level: 'HIGH',\n    message: `FRAUD ALERT: Claim ${data.claim_id} referred to SIU (score: ${data.fraud_score.toFixed(2)})`,\n    next_system: 'siu_case_management',\n    payout_hold: true,\n    processed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "6fb48afe-e8b9-4248-8d06-5a70d73ab453",
      "name": "→ SIU Referral",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.AUDIT_BASE_URL }}/api/v1/audit/log",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipeline\": \"claims\",\n  \"claim_id\": \"{{ $json.claim_id }}\",\n  \"action\": \"{{ $json.action }}\",\n  \"classification\": \"{{ $('Apply Orchestrator Logic').first().json.classification }}\",\n  \"priority\": \"{{ $('Apply Orchestrator Logic').first().json.priority }}\",\n  \"confidence\": {{ $('Apply Orchestrator Logic').first().json.confidence }},\n  \"fraud_score\": {{ $('Apply Orchestrator Logic').first().json.fraud_score }},\n  \"final_route\": \"{{ $('Apply Orchestrator Logic').first().json.final_route }}\",\n  \"orchestrator_override\": {{ $('Apply Orchestrator Logic').first().json.orchestrator_override }},\n  \"logged_at\": \"{{ $now }}\"\n}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "590d211c-2752-40ea-bd13-32757bfb4d32",
      "name": "Audit Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        208
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "3121c014-f487-435a-87f1-602617af9ccf",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2000,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger: New Claim": {
      "main": [
        [
          {
            "node": "Validate & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Normalize": {
      "main": [
        [
          {
            "node": "Load Customer Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Policy & Claims History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Customer Data": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Policy & Claims History": {
      "main": [
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Call Claims Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claims Agent": {
      "main": [
        [
          {
            "node": "Apply Orchestrator Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Orchestrator Logic": {
      "main": [
        [
          {
            "node": "Route: Auto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Auto?": {
      "main": [
        [
          {
            "node": "→ Auto Process",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route: SIU?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: SIU?": {
      "main": [
        [
          {
            "node": "→ SIU Referral",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "→ Manual Review (HITL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "→ Auto Process": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "→ Manual Review (HITL)": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "→ SIU Referral": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "89641144-476b-4318-a7e5-f5aee2647717",
  "meta": {
    "instanceId": "fe8b5a3581559b2bc3e3e6d38213313aac744c4c306718338a70631bf1bb73c5"
  },
  "id": "KUSrZ4stlcKnPnUU",
  "tags": []
}